name               = "Blocking-uuid-uuid=246"
signatureId        = 300000002
description        = ""
tag                = "demo"
custom_attack_type = "Injection Attempt"
hasCve             = false
revision           = "1"
accuracy           = "high"
risk               = "low"
signatureType      = "request"
isUserDefined      = true
rule               = "content:\"uuid=246\";"
keywords = [
  {
    value      = "uuid=246"
    matchCase  = true
    comparison = "string-match"
    context    = "request"
  }
]
matchesWithinCookie    = false
matchesWithinParameter = true
matchesWithinHeader    = false
matchesWithinUri       = true
matchesWithinXml       = false
matchesWithinJson      = false
matchesWithinPlainText = false
matchesWithinGwt       = false
matchesWithinRequest   = true
matchesWithinResponse  = false
