name          = "Blocking-uuid-uuid=123456"
signatureId   = 300000001
description   = "This is a demo Custom Attack Signature"
tag           = "demo"
hasCve        = false
revision      = "1"
accuracy      = "high"
risk          = "high"
signatureType = "request"
rule          = "content:\"uuid=543210\";"
keywords = [
  {
    value      = "uuid=543210"
    matchCase  = true
    comparison = "string-match"
    context    = "request"
  }
]
matchesWithinParameter = true
matchesWithinRequest   = true
